html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.title {
  font-size: 50px;
  color: white;
  text-align: center;
}

.smallTitle {

  font-size: small;
  font-weight: 700;
}

.smallDesc {
  color: gray;
  font-size: smaller;
  width: 70%;
  padding-top: 100%;
  text-decoration: none;
}

.smallDesc a {
  color: inherit;

}

.quickLink, .expand {
  background: none;
  cursor: pointer;
  margin: 0;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 12rem;
  display: inline-block;

  font-size: 1rem;
  border: none;
  width: 30%;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.expand {

  padding-top: 0px;

  font-weight: normal;


}

.acceptButton {

  text-decoration: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  color: white;
  width: 12rem;
  display: inline-block;

  font-size: 1rem;
  border: none;
  width: 30%;
  animation: gradient 5s ease infinite;
  background: linear-gradient(-45deg, #f36e15, #12a8ff, #face68);
  background-size: 400% 400%;
  color: white;
  font-weight: bold;

}

.container {
  display: flex;
}

/* Control the left side */
.left {
  width: 500px;
  height: 100%;
  position: fixed;

  /* This is for the styling: */
  padding: 50px;

}

.left img {
  width: 75%;
}

.desc {
  font-size: 15px;
  font-weight: 400;
  margin-left: 40px;
}

.right {
  width: calc(100% - 500px);
  margin-left: 550px;

}


.section {
  display: block;
  width: 70%;
  margin: 30px;

}

.blockDesc {
  padding-left: 25px;
  /* font-weight: 30; */
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
}

.blockDesc a {
  text-decoration: none;
  color: black;
}

.blockDescAlt {
  /* padding-left: 25px; */
  padding-left: 25px;
  font-weight: 30;
  font-size: 22px;
  font-weight: 300;
  font-size: 35px;
}

.blockDesc_mini {
  font-size: 15px;
  font-weight: 800;
  color: rgb(7, 52, 94);
}

.memberName {
  font-size: 25px;
  font-weight: 500;
}

.memberTitle {
  margin-top: -20px;
  font-size: 18px;
  font-weight: 400;

}

.blockLargeTitle, .blockLargeTitleAlt {
  padding-left: 25px;
  padding-top: 50px;
  font-weight: 500;
  font-size: 40px;


  padding-left: 25px;
  padding-top: 50px;
  font-weight: 500;
  font-size: 30px;

}

.blockLargeTitleAlt {
  padding-left: 25px;
  padding-top: 50px;
  font-weight: 500;
  font-size: 30px;
}


.boardNames {
  padding-left: 50px;

}

.smallTitleAbr {
  display: inline;
  font-size: 16px;
}


.boardNames a {
  text-decoration: none;
  color: black;

}

.boardNamesFirst, .boardNames {
  padding-top: 20px;
  /* border-bottom: 1px solid rgb(7, 52, 94); */
}

.subtable {
  padding-top: 50px;
}


.arrow {
  display: inline;
  text-align: right;
}

.joinUs {
  font-size: 20px;
}

.founders {
  font-size: 20px;
  margin-bottom: -10px;
  color:#1b5374;
  font-weight: bolder;

}

.subfounders {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: -60px;
  color:#1b5374;
  font-weight: bolder;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.menu, .menuOpen{
  display: none;
}

.squares {
  width: 50px;
}

@media screen and (max-width : 899px) {


  .squares {
    width: 50px;
  }

  .menu, .menuOpen {
    display: block;
    background: none;
    border: none;
    padding-left: 30px;
    padding-top: 30px;
    font-size: larger;
    width: 100%;
    text-align: left;
    height: 50px;
    color: black;
    font-weight: bolder;
    outline: none;

    background: none;
    cursor: pointer;
    margin: 0;
    padding-bottom: 10px;
  
    /* width: 12rem; */
    display: inline-block;
  
    /* font-size: 1rem; */
    border: none;
    width: 30%;
    color: black;
    font-weight: bold;


    /* display: block;
    background: none;
    cursor: pointer;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  
    width: 12rem;
    display: inline-block;
  
    font-size: 1rem;
    border: none;
    width: 30%;
    color: black;
    font-weight: bold;
    text-decoration: underline; */

    /* font-weight: 500; */
  }

  .left {
    display: none;
    /* padding-left: 0px; */

  }

  .right {
    width: 100%;
    margin-left: 0px;
  }

  .blockLargeTitle {
    font-size: 10px;
    padding-left: none;

    padding-left: 0px;
    padding-top: 0px;
    font-weight: 500;
    font-size: 30px;
  }


  .blockDesc {
    padding-left: 0px;

    padding-left: 0px;
    /* font-weight: 30; */
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    width: 120%;
  }

  .blockDesc ul {
    width: 80%;
    padding-left: 25px;
  }

  .blockLargeTitleAlt {

    padding-left: 0px;
    padding-top: 5px;
    font-weight: 500;
    font-size: 20px;

  }

  .blockDescAlt {
    padding-left: 0px;
    font-weight: 30;
    font-weight: 300;
    font-size: 20px;
  }

  .left img {
    display: none;
    /* width: 60%; */
  }



}